Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-Mail==0.10.0
SQLAlchemy==2.0.37
bcrypt==4.2.1
itsdangerous==2.2.0
requests==2.32.3
PyJWT==2.10.1
psycopg2-binary==2.9.10
gunicorn==23.0.0 # Example version, you can adjust if needed
